.btn {
  padding: 1em 1.5em;
  background: #FFF;
  border-radius: 0.1em;

  color: #000;
  display: inline-block;
  margin: 0.5em;

  cursor: pointer;

  &:focus {
      outline: 0;
  }
}

.posRelative {
  position: relative;
}

.input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #333;

  @media screen and (min-width: 600px) {
    width: 500px;
  }

  @media screen and (max-width: 599px) {
    width: 100%;
    font-size: 0.75em;
  }

  &:focus {
    outline: 0;
  }
}

.inline {
  * {
    display: inline-block;
  }
}
