version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.15.0
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-production
          command: 'npm install --production'
      - run:
          name: build 
          command: 'npm run build'
  test:
    docker:
      - image: circleci/node:10.15.0
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm
          command: 'npm install'
      - run:
          name: test
          command: 'npm run test'
  deploy_staging:
    docker:
      - image: circleci/node:10.15.0
    steps:
      - run:
          name: add-remote
          command: git remote add staging $STAGING_REMOTE
      - run:
          name: push-remote
          command: git push dokku master
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
  build_and_deploy_staging:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy_staging:
          requires:
            - test
          filters:
            branches:
              only: master
