.button {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 1.25em;
    vertical-align: middle;
    transform: translateY(-5%);

    cursor: pointer;

    &:hover {
        color: red;
    }
}
